<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!--    semantic css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    自定义 css -->
    <link rel="stylesheet" href="../static/css/kyo.css" th:href="@{/css/kyo.css}">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment k-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui header item"> Kyo's Blog</h2>
            <a href="./index.html" class="k-item k-mobile-hide item "><i class="home icon"></i>首页 | Home</a>
            <a href="types.html" class="k-item k-mobile-hide item">分类</a>
            <a href="tags.html" class="k-item k-mobile-hide item">标签</a>
            <a href="./archives.html" class="k-item k-mobile-hide item">归档</a>
            <a href="about.html" class="k-item k-mobile-hide item"><i class="info icon"></i>关于我</a>
            <div class="right item k-item k-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索 | Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black middle aligned icon button k-top-right k-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->

    <div class="k-container k-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="twelve wide column">
<!--                左边    内容头部    -->
                    <div class="ui top attached black tertiary segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui header">博客</h3>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui blue header k-inline-block k-text-thin" th:text="${page.totalElements}"> 15 </h2> 篇
                            </div>
                        </div>
                    </div>
<!--                    内容中间部分  -->
                    <div class="ui attached segment">
                        <div class="ui padded vertical segment k-padded-tb-large" th:each="blog : ${page.content}">
                            <div class="ui middle aligned mobile reversed stackable grid" >
                                <div class="twelve wide column">
                                    <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="k-black-color" th:text="${blog.title}">测试用标题</a></h3>
                                    <p class="k-text" th:text="|${blog.description}......|">测试用段落内容,并没有实际内容,只是为了测试占位,进一步内容有待后续开发...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >kyo</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> <span th:text="${blog.views}">100</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui blue mini label k-text-thin" th:text="${blog.type.name}">前端开发</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="middle aligned four wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

<!--                        copy 占位-->
                        <!--/*-->
                        <div class="ui padded vertical segment k-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="twelve wide column">
                                    <h3 class="ui header">测试用标题</h3>
                                    <p class="k-text">测试用段落内容,并没有实际内容,只是为了测试占位,进一步内容有待后续开发...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1001" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">Kyo</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2020-02-01
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 100
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui blue mini label k-text-thin">前端开发</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="middle aligned four wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://images.unsplash.com/photo-1559163499-413811fb2344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment k-padded-tb-large">
                            <div class="ui mobile reversed stackable grid">
                                <div class="twelve wide column">
                                    <h3 class="ui header">测试用标题</h3>
                                    <p class="k-text">测试用段落内容,并没有实际内容,只是为了测试占位,进一步内容有待后续开发...</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1001" alt="" class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header">Kyo</a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i> 2020-02-01
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 100
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui blue mini label k-text-thin">前端开发</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="middle aligned four wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://images.unsplash.com/photo-1559163499-413811fb2344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--*/-->
                    </div>
<!--                    内容底部部分-->
                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini button">上一页</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
<!--                右边导航    -->



                <div class="four wide column">
                    <!--                公告开发    -->
                    <div class="ui segments">
                        <div class="ui tertiary segment">
                                <div class="column">
                                    <i class="comment icon"></i>公告
                                </div>
                        </div>
                        <div class="ui black segment">


                                项目正在开发当中欢迎浏览!
                            <br>
                            当前版本1.0
                        </div>
                    </div>
<!--                    分类-->
                    <div class="ui segments">
                        <div class="ui tertiary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui black segment">
                            <div class="ui fluid vertical menu" >
                                <a href="#" class="item"  th:each="type : ${types}">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui blue left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
<!--                            占位copy-->
                            <!--/*-->
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">学习笔记
                                    <div class="ui label">10</div>
                                </a>
                            </div>
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">学习笔记
                                    <div class="ui label">10</div>
                                </a>
                            </div>
                            <!--*/-->
                        </div>
                    </div>
<!--                    标签-->
                    <div class="ui segments">
                        <div class="ui tertiary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui black segment">
                                <a href="#" target="_blank" class="ui blue left pointing label k-margin-tb-tiny" th:each="tag : ${tags}">
                                    <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                                </a>
                            <!--                            占位copy-->
                            <!--/*-->
                            <a href="#" target="_blank" class="ui blue left pointing label  k-margin-tb-tiny">
                                go<div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui blue left pointing label  k-margin-tb-tiny">
                                Java<div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui blue left pointing label  k-margin-tb-tiny">
                                JavaScript<div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui blue left pointing label  k-margin-tb-tiny">
                                html<div class="detail">10</div>
                            </a>
                            <a href="#" target="_blank" class="ui blue left pointing label  k-margin-tb-tiny">
                                css<div class="detail">10</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>
<!--                    最新推荐-->
                    <div class="ui segments">
                        <div class="ui tertiary segment ">
                                    <i class="bookmark icon"></i>最新推荐
                                </div>
                        <div class="ui segment" th:each="blog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="t-black t-text-thin" th:text="${blog.title}">用户故事（User Story）</a>
                            </div>
<!--                        copy-->
                        <!--/*-->
                            <div class="ui segment">
                                <a href="#" target="_blank" class="k-black-color">博客开发日志</a>
                            </div>
                            <div class="ui segment">
                                <a href="#" target="_blank" class="k-black-color">博客开发日志</a>
                            </div>
                        <!--*/-->
                        </div>

<!--                    二维码-->
                    <div class="ui horizontal divider header">扫码关注我</div>
                    <div class="ui centered card"  style="width: 10em">
                        <img src="../static/images/wx.jpg" th:src="@{/images/wx.jpg}" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>


<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment k-padded-tb-big">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wx.jpg" th:src="@{/images/wx.jpg}" alt="" class="ui rounded image" style="width: 120px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">最新动态</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客搭建日志</a>
                    <a href="#" class="item">博客搭建日志</a>
                    <a href="#" class="item">博客搭建日志</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: kyogooo@outlook.com</a>
                    <a href="#" class="item">QQ: 目前没有</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">Kyo Blog</h4>
                <p class="k-text-lined k-text-spaced k-opacity-mini">这是我的个人博客,目的分享学习经验,希望可以和爱好编程的朋友互动共同成长.
                    <br>
                    欢迎关注我的B站频道:
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="k-text-lined k-text-spaced k-opacity-tiny">Copyright &copy; 2020 - 2021 Kyo'Blog Designed By Kyo</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<!-- jquery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<!-- semantic js -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<!--导航隐藏显示切换-->
<script>
    $('.menu.toggle').click(function () {
        $('.k-item').toggleClass('k-mobile-hide');
    });
</script>
</body>
</html>