<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!--    semantic css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    自定义 css -->
    <link rel="stylesheet" href="../static/css/kyo.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment k-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui header item"> Kyo's Blog</h2>
            <a href="./index.html" class="k-item k-mobile-hide item "><i class="home icon"></i>首页 | Home</a>
            <a href="./types.html" class="k-item k-mobile-hide item active">分类</a>
            <a href="tags.html" class="k-item k-mobile-hide item">标签</a>
            <a href="./archives.html" class="k-item k-mobile-hide item">归档</a>
            <a href="about.html" class="k-item k-mobile-hide item"><i class="info icon"></i>关于我</a>
            <div class="right item k-item k-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索 | Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black middle aligned icon button k-top-right k-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->

    <div class="k-container-small k-padded-tb-large">
        <div class="ui container">
<!--            header-->
            <div class="ui top attached black tertiary segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui header">分类</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui header k-inline-block"> &nbsp; 15 </h2> 个
                    </div>
                </div>
            </div>
            <div class="ui attached segment k-padded-tb-large">
                <div class="ui labeled button k-margin-tb-tiny">
                    <a href="#" class="ui basic blue button">Springboot后端</a>
                    <div class="ui basic blue left pointing label">10</div>
                </div>
<!--                copy-->
                <div class="ui labeled button k-margin-tb-tiny">
                    <a href="#" class="ui basic  button">Springboot后端</a>
                    <div class="ui basic  left pointing label">10</div>
                </div>
                <div class="ui labeled button k-margin-tb-tiny">
                    <a href="#" class="ui basic  button">Springboot后端</a>
                    <div class="ui basic  left pointing label">10</div>
                </div>
                <div class="ui labeled button k-margin-tb-tiny">
                    <a href="#" class="ui basic  button">Springboot后端</a>
                    <div class="ui basic  left pointing label">10</div>
                </div>
                <div class="ui labeled button k-margin-tb-tiny">
                    <a href="#" class="ui basic  button">Springboot后端</a>
                    <div class="ui basic  left pointing label">10</div>
                </div>
            </div>

            <div class="ui top attached blue segment">
                <div class="ui padded vertical segment k-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="twelve wide column">
                            <h3 class="ui header"><a href="blog.html">测试用标题</a></h3>
                            <p class="k-text">测试用段落内容,并没有实际内容,只是为了测试占位,进一步内容有待后续开发...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1001" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Kyo</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-02-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui blue mini label k-text-thin">前端开发</a>
                                </div>
                            </div>
                        </div>

                        <div class="middle aligned four wide column">
                            <a href="#" target="_blank">
                                <img src="https://images.unsplash.com/photo-1559163499-413811fb2344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment k-padded-tb-large">
                    <div class="ui mobile reversed stackable grid">
                        <div class="twelve wide column">
                            <h3 class="ui header"><a href="blog.html">测试用标题</a></h3>
                            <p class="k-text">测试用段落内容,并没有实际内容,只是为了测试占位,进一步内容有待后续开发...</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1001" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">Kyo</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2020-02-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 100
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui blue mini label k-text-thin">前端开发</a>
                                </div>
                            </div>
                        </div>

                        <div class="middle aligned four wide column">
                            <a href="#" target="_blank">
                                <img src="https://images.unsplash.com/photo-1559163499-413811fb2344?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a href="#" class="ui mini button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--底部-->
<footer class="ui inverted vertical segment k-padded-tb-big">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wx.jpg" alt="" class="ui rounded image" style="width: 120px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">最新动态</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">博客搭建日志</a>
                    <a href="#" class="item">博客搭建日志</a>
                    <a href="#" class="item">博客搭建日志</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: kyogooo@outlook.com</a>
                    <a href="#" class="item">QQ: 目前没有</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header k-text-lined k-text-spaced k-opacity-mini">Kyo Blog</h4>
                <p class="k-text-lined k-text-spaced k-opacity-mini">这是我的个人博客,目的分享学习经验,希望可以和爱好编程的朋友互动共同成长.
                    <br>
                    欢迎关注我的B站频道:
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="k-text-lined k-text-spaced k-opacity-tiny">Copyright &copy; 2020 - 2021 Kyo'Blog Designed By Kyo</p>
    </div>
</footer>

<!-- jquery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<!-- semantic js -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--导航隐藏显示切换-->
<script>
    $('.menu.toggle').click(function () {
        $('.k-item').toggleClass('k-mobile-hide');
    });
</script>

</body>
</html>